.principal__proyectos {
    background-color: $colorFondoPrincipal;
    color: $derechos;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    display: flex;
    flex-direction: row;

    .contenedor__botones {
        border: none;
        z-index: 1;
        border-left: 2px solid $bordeIzquierdoOSuperior;
        border-right: 2px solid $bordeDerechoOInferior;
        border-top: 2px solid $bordeIzquierdoOSuperior;
        border-bottom: 2px solid $bordeDerechoOInferior;
        background-color: $colorFondoPrincipal;
        padding: 7px 5px;
        padding-top: 10px;
    }

    .botonIzquierdo {
        left: 1.5rem;
        position: absolute;
    }

    .botonDerecho {
        right: 1.5rem;
        position: absolute;
    }

    .proyectos__contenedor {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        border-radius: 2px;
        background-color: $colorFondoSeccion;
        border-left: 2px solid $bordeIzquierdoOSuperior;
        border-right: 2px solid $bordeDerechoOInferior;
        border-top: 2px solid $bordeIzquierdoOSuperior;
        border-bottom: 2px solid $bordeDerechoOInferior;
        padding: 1rem;
        width: 100%;

        .contenedor__tituloProyecto {
            color: $blanco;
            width: 35%;
            padding: 0 1rem;
            display: flex;
            align-items: center;
            text-align: center;
            margin-left: 2rem;
        }

        .contenedor__descripcionProyecto {
            color: $derechos;
            width: 45%;
            padding: 1rem;
            font-style: italic;
            text-align: center;
            border-left: 1px solid $negro;
            border-right: 1px solid $negro;
            min-height: 70px;
            display: flex;
            align-items: center;
        }

        .contenedor__imagenesProyecto {
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            margin-right: 2rem;

            .contenedor__logoDeCadaProyecto {
                .imagenesProyecto__logo {
                    display: flex;

                    .imagenesProyecto__logoImagen {
                        width: 40px;
                        border: 1px solid $colorFondoSeccion;
                        border-radius: 90px;
                    }
                }
            }
        }
    }



}