.principal__servicios {
    display: flex;
    flex-direction: column;
    background-color: $colorFondoPrincipal;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(72, 72, 72);

    .servicios__apartado {
        color: $blanco;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        background-color: $colorFondoSeccion;
        margin: 1rem 1rem 0 1rem;
        border-radius: 2px;
        border-left: 2px solid $bordeIzquierdoOSuperior;
        border-right: 2px solid $bordeDerechoOInferior;
        border-top: 2px solid $bordeIzquierdoOSuperior;
        border-bottom: 2px solid $bordeDerechoOInferior;

        .apartado__cabecera {
            color: $titulos;
            padding: 10px 20px; 
            background-color: $colorFondoSeccion;
            text-decoration: underline rgb(122, 122, 122);
            text-underline-offset: 5px;
        }

        .apartado__descripcion{
            padding: 10px 20px; 
            border-top: 0.5px solid rgb(32, 32, 32);
        }

        .apartado__listadoCabecera {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 1rem;
            padding-bottom: 10px;

            .listadoCabecera__itemCabecera {
                width: 100%;
                display: flex;
                border-radius: 2px;
                flex-direction: column;
                justify-content: start;
                border-left: 2px solid $bordeIzquierdoOSuperior;
                border-right: 2px solid $bordeDerechoOInferior;
                border-top: 2px solid $bordeIzquierdoOSuperior;
                border-bottom: 2px solid $bordeDerechoOInferior;
                align-items: center;
                padding: 1rem;
                
                .itemCabecera__titulo {
                    color: $blanco;
                    width: 100%;
                    background-color: $colorFondoPrincipal;
                    padding: 10px;

                    &:hover {
                        border-color: $titulos;
                    }
                }

                .itemCabecera__parrafo {
                    display: none;
                    width: 100%;
                    text-align: center;
                    padding: 20px 20px 0 20px;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}