@media (max-width:800px) {
    .principal__proyectos {
        font-size: 11px;
    }
}

@media (max-width:500px) {
    .principal__proyectos {
        .proyectos__contenedor {
            flex-direction: column;
            padding: 0;
            text-align: center;

            .contenedor__descripcionProyecto {
                width: 100%;
                border-left: none;
                border-right: none;
                border-top: 1px solid $negro;
                border-bottom: 1px solid $negro;
                padding: 1rem 0;
            }

            .contenedor__tituloProyecto {
                width: 100%;
                margin: 1rem 0;
            }

            .contenedor__imagenesProyecto {
                padding: 1rem 0;
                .contenedor__logoDeCadaProyecto {
                    .imagenesProyecto__logo {
                        .imagenesProyecto__logoImagen {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}