@media (max-width:900px) {
    .cuerpo__texto {
        .texto__parrafo {
            font-size: 12px;
        }
    }
}

@media (max-width:575px) {
    .cuerpo__texto {
        .texto__parrafo {
            width: 100%;
            font-size: 10px;
        }
    }
}

@media (max-width:375px) {
    .cuerpo__texto {
        padding: 0 1rem;

        .texto__parrafo {
            width: 100%;
            font-size: 12px;
        }
    }
}