@media (max-width:1200px) {
    .principal__servicios {
        .servicios__apartado {
            flex-direction: column;
            padding-top: 0.5rem;

            .apartado__titulo {
                margin: 0;
                text-align: center;
                width: 100%;
            }

            .apartado__bloqueDescriptivo {
                width: 100%;

                .bloqueDescriptivo__listado {
                    flex-direction: column;
                }

                .bloqueDescriptivo__listadoCabecera {
                    .bloqueDescriptivo__itemCabecera {
                        flex-direction: column;

                        .itemCabecera__titulo{
                            width: auto;
                            text-align: center;
                            margin-bottom: 10px;
                            margin-right: 0;
                        }
                        .itemCabecera__parrafo{
                            width: auto;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}