.cuerpo__formacionProfesional {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    background-color: $colorFondoPrincipal;

    .formacionProfesional__contenedor {
        border-radius: 2px;
        border-left: 2px solid $bordeIzquierdoOSuperior;
        border-right: 2px solid $bordeDerechoOInferior;
        border-bottom: 2px solid $bordeDerechoOInferior;
        border-top: 2px solid $bordeIzquierdoOSuperior;
        margin-bottom: 10px;

        .formacionProfesional__encabezado {
            padding: 10px 20px;
            color: $titulos;
            text-decoration: underline $sombrasLetrasOSubrayado;
            text-underline-offset: 5px;
            background-color: $colorFondoSeccion;
        }

        .formacionProfesional__cursos {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .formacionProfesional__item {
                color: $blanco;
                border-top: 0.5px solid $colorFondoPrincipal;
                background-color: $colorFondoSeccion;
                padding: 0 20px;

                &:hover {
                    background-color: $sombrasLetrasOSubrayado;

                    .formacionProfesional__institucionData,
                    .formacionProfesional__institucionPais {
                        border-bottom: 1px solid $colorFondoPrincipal;
                    }
                }

                .formacionProfesional__institucionData,
                .formacionProfesional__institucionPais {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    border-bottom: 1px solid $sombrasLetrasOSubrayado;

                    .institucion__ubicacion,
                    .institucion__periodo,
                    .institucion__nombre,
                    .institucion__tipo {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: row;
                        margin: 5px 0;

                        .institucion__ubicacionBandera,
                        .institucion__nombreLogo {
                            height: 25px;
                            margin: 5px;
                        }
                    }
                }

                .formacionProfesional__educacion {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    .educacion__temas {
                        display: flex;
                        text-decoration: none;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        align-items: start;

                        .temas__contenedor {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            align-items: start;
                            justify-content: space-between;
                            width: 100%;
                            padding: 10px 0;

                            .temas__titulos {
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                justify-content: space-between;
                                width: 100%;

                                .temas__titulo {
                                    display: flex;
                                    padding: 8px 0;
                                }
                            }

                            .cursos__nombres {
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                width: 50%;
                                justify-content: center;
                                align-items: center;
                                min-height: 100px;

                                .curso__nombre {
                                    color: $blanco;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    padding: 8px 0;
                                    width: 50%;
                                    height: 60px;
                                    text-align: center;
                                    border-left: 2px solid $bordeIzquierdoOSuperior;
                                    border-right: 2px solid $bordeDerechoOInferior;
                                    border-bottom: 2px solid $bordeDerechoOInferior;
                                    border-top: 2px solid $bordeIzquierdoOSuperior;
                                    background-color: $colorFondoPrincipal;

                                    &:hover {
                                        border-color: $titulos;
                                    }
                                }
                            }

                            .cursos__grupo {
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                width: 50%;
                                min-height: 100px;
                                justify-content: flex-start;
                                align-items: start;

                                .grupo__mensaje {
                                    display: flex;
                                    color: $blanco;
                                    align-items: center;
                                    justify-content: center;
                                    align-self: center;
                                    width: 100%;
                                }

                                .temas__grupo {
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: wrap;

                                    .temas__herramientas {
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;
                                        flex-direction: row;
                                        flex-wrap: wrap;
                                        margin: 10px 0;

                                        .herramientas__nombre {
                                            display: flex;
                                            align-self: center;
                                            align-items: center;
                                            text-align: center;
                                            padding: 10px 20px;
                                            justify-content: center;
                                            height: 60px;

                                            .herramientas__imagen {
                                                height: 35px;
                                                margin-right: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .formacionProfesional__habilidades {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .habilidades__item {
                color: $blanco;
                border-top: 0.5px solid $colorFondoPrincipal;
                background-color: $colorFondoSeccion;
                padding: 0 20px;
                width: 100%;

                .item__contenedor {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 0;

                    .item__titulo{
                        margin-right: 1rem;    
                    }

                    .item__logo {
                        width: 60px;
                        margin-right: 3rem;
                    }

                    .item__descripcion {
                        padding: 0 20px;  
                    }

                    .contenedor__nivel {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        
                        .contenedor__item__nivelAvanzado {
                            background-color: $colorFondoPrincipal;
                            width: 100px;
                            height: 20px;
                            border-radius: 2px;
                            border: 2px solid $sombrasLetrasOSubrayado;
                            margin: 0 10px;

                            .item__nivelAvanzado {
                                background-color: $titulos;
                                width: 80%;
                                height: 100%;
                            }
                        }
                    }
               }
            }
        }
    }
}