@media (max-width:900px) {
    .principal__cuerpoHabilidades {
        .contenedor__habilidades {
            .principal__habilidades {
                .contenedor__habilidades__contenedor {
                    flex-direction: row;
                    align-items: start;

                    .habilidades__contenedor {
                        height: 200px;
                        width: 176px;

                        .contenedor__skills {
                            height: 100px;

                            .contenedor__imagen {
                                .habilidades__imagen {
                                    width: 50px;
                                }
                            }
                        }

                        .contenedor__nivel {
                            height: 100px;

                            .nivel__estado {
                                .nivel__imagen {
                                    width: 50px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:480px) {
    .principal__cuerpoHabilidades {
        .habilidades__solapa {
            .solapa__contenedor {
                width: 265px;
            }
        }
    }
}