header {
    @include niPaddingNiMargin(0, 0);
    background-color: $negro;
    position: sticky;
    top: 0;

    .encabezado {
        @include niPaddingNiMargin(0, 0);
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .encabezado__mensaje {
            align-self: center;
            color: $blanco;
            position: absolute;
            left: 90px;
        }

        .encabezado__logo {
            display: flex;

            .logo__imagen {
                height: 50px;
                margin-left: 20px;
                border: solid $blanco 1px;
                align-self: center;

                &:hover{
                    border-color: $titulos;
                }

            }
        }

        .encabezado__abrir {
            display: none;
        }

        .encabezado__menu {
            @include niPaddingNiMargin(0, 0);
            display: flex;

            .menu__listado {
                display: flex;
                justify-content: space-around;
                list-style-type: none;
                text-align: center;
                margin-right: 1rem;

                .listado__cerrar {
                    display: none;
                }

                .listado__items {
                    align-self: center;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    height: 50px;
                    background-color: $colorFondoSeccion;
                    border-left: 2px solid $bordeIzquierdoOSuperior;
                    border-right: 2px solid $bordeDerechoOInferior;
                    border-top: 2px solid $bordeIzquierdoOSuperior;
                    border-bottom: 2px solid $bordeDerechoOInferior;
                    border-radius: 2px;
                    margin-right: 1px;

                    &:hover {
                        border-color: $titulos;
                    }

                    .items__enlace {
                        padding: 15px;
                        margin: 0;
                        text-decoration: none;
                        font-size: 16px;
                        width: 100%;
                        height: 100%;
                        color: $blanco;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                    }
                }
            }
        }
    }
}