@media (max-width:950px) {
    header {
        .encabezado {
            display: flex;

            .encabezado__abrir {
                display: block;
                border: none;
                background-color: $negro;

                .abrir__imagen {
                    color: $blanco;
                    text-shadow: 1px 1px 1px $sombrasLetrasOSubrayado;
                    align-self: center;
                    margin-right: 1rem;
                    height: 40px;
                    width: 65px;
                    padding: 5px;
                    border-radius: 2px;
                    border-left: 2px solid $bordeIzquierdoOSuperior;
                    border-right: 2px solid $bordeDerechoOInferior;
                    border-top: 2px solid $bordeIzquierdoOSuperior;
                    border-bottom: 2px solid $bordeDerechoOInferior;
                }
            }

            .encabezado__menu {
                display: flex;
                flex-direction: column;
                align-items: start;
                position: absolute;
                top: 0;
                right: 0;
                background-color: $negro;
                margin-top: 0;
                box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
                opacity: 0;
                visibility: hidden;

                .menu__listado {
                    flex-direction: column;
                    align-items: end;
                    padding: 0;

                    .listado__cerrar {
                        display: block;
                        border: none;
                        background-color: $negro;
                        height: 60px;

                        .cerrar__imagen {
                            color: $blanco;
                            text-shadow: 1px 1px 1px $sombrasLetrasOSubrayado;
                            height: 40px;
                            border-radius: 2px;
                            border-left: 2px solid $bordeIzquierdoOSuperior;
                            border-right: 2px solid $bordeDerechoOInferior;
                            border-top: 2px solid $bordeIzquierdoOSuperior;
                            border-bottom: 2px solid $bordeDerechoOInferior;
                            padding: 5px 1px;
                            width: 65px;
                        }
                    }

                    .listado__items {
                        margin: 0;

                        .items__enlace {
                            font-size: 16px;
                            padding: 1rem;
                            width: 140px;
                        }
                    }
                }
            }

            .encabezado__menu.visible {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

@media (max-width:800px) {
    .encabezado__mensaje {
        font-size: 11px;
    }
}

@media (max-width:450px) {
    .encabezado__mensaje {
        width: 120px;
    }
}